<h1 class="center-screen">BusON!</h1>
<div class="center-button">
  <button mat-button [routerLink]="['/main']" color="primary">Sign-in</button>
  <button mat-button color="accent">Sign-up</button>
</div>
