.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 70vh;
  font-size: 100px;
}
.center-button {
  align-items: center;
  text-align: center;
}
